{{#if res}}
<a href="#/logout">{{res.username}}</a>
<ul>
    <li>
        <a href="#/logout">logout</a>
    </li>
</ul>
{{else}}
   <a href="#/signup">Sing up</a>
    <ul>
        <li>
            <a href="#" data-toggle="modal" data-target=".modal-register">register</a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target=".modal-login">login</a>
        </li>
        <li>
            <strong>{{res.result}}</strong>
        </li>
    </ul>
{{/if}}