<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLogin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Login</h1>
                <div class="modal-close" data-dismiss="modal"> </div> 
            </div>
            <form id="form-login" class="form">
                <div class="modal-body">
                    <ul>
                        <li>
                            <input type="text" id="tb-username" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
                            <a href="#" class="icon user"></a>
                        </li>
                            <div class="clear"> </div>
                        <li>
                            <input type="password" id="tb-password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"> 
                            <a href="#" class="icon lock"></a>
                        </li>
                    <ul>
                    <div class="clear"> </div>
                    <div class="submit">
                        <button type="submit" class="btn">Sign in</button>
                        <h4><a href="#">Lost your Password ?</a></h4>
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>