<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/index.css")
        title The Gemstone Store

        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/tether/dist/js/tether.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/bower_components/navigo/lib/navigo.min.js")
        script(src="/bower_components/bluebird/js/browser/bluebird.min.js")

    body
        .container
            .header
                h2
                    | Selena GemStone Store
                nav.navbar.navbar-toggleable-md.bg-inverse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href="/api/login") Login
                        li.nav-item.active
                            a.nav-link(href="/api/register") Register
            .container
                .row
                    .col-xs-12
                        #page-placeholder