<!DOCTYPE html>
html(lang="en")
head

link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="bower_components/navigo/lib/navigo.min.js")
script(src="bower_components/bluebird/js/browser/bluebird.min.js")

title The GemStone Store
body
    .container
        .header
            h1
                | The Books App
            .nav
                nav
                    ul.list.list-nav
                        li
                            | Home
        .container
            .row
                .col-xs-12
                    #page-placeholder
