 <footer id="footer">
    <div class="footer-logo center-item">
    <img src="/public/img/footer-logo.jpg"/>
    </div>
    <ul class="footer-nav nav center-item">
        <li class="current">
            <a href="#/home" title="home" >Home</a>
        </li>
        <li>
            <a class="btn-login-modal" href="#" data-toggle="modal" data-target=".modal-login">Login</a>
        </li>
        <li>
            <a href="#/menu">Menu</a>
        </li>
        <li>
            <a href="#/galery">Galery</a>
        </li>
        <li>
            <a href="#/blog">Blog</a>
        </li>
        <li>
            <a href="#/about">About</a>
        </li>
    </ul>
    <p class="copy center-item">
        Designed by <strong>Telerik Academy </strong> - Powered by <strong>Venelin Petkov</strong>
    </p>
</footer>