<div class="main tab-content">
<div  class="text-wrap border-bottom-effect" id="products">
    <div id="products">
        <div class="row">
            <div class="col-sm">
                <article>
                    <h2>Top products</h2>
                    <ul>
                        <li>
                            <div class="left">
                                <div class="image">
                                    <img src="/public/img/Insta166-300x300.jpg">
                                </div>
                                <div class="nousers">
                                    <h3>Blue</h3>
                                    <p>Rhoncus quis, varius sed velit.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div class="image">
                                    <img src="/public/img/46transparent-300x300.jpg">
                                </div>
                                <div class="nousers">
                                    <h3>Mount Crystal</h3>
                                    <p>Mauris quis nunc eu nunc sit amet</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div class="image">
                                    <img src="/public/img/9pirit-300x300.jpg">
                                </div>
                                <div class="nousers">
                                    <h3>Spirit</h3>
                                    <p>Phasellus tellus orci, congue at</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="col-sm">
                <div class="location">
                    <h2>Location and hours of operation</h2>
                    <div class="location-map">
                        {{!--<iframe width="100%" height="100%" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9YOHft-EqkARMoHrOm_zunM&key=AIzaSyAwjNpJp1F1TUCnXwrklZ4x1_WRiIUqU2g" allowfullscreen>
                        </iframe>--}}
                    </div>
                    <span>Sliven str. P. Karavelov 2</span><br>
                    <strong>Mon-Fri</strong>
                    <span>8am-10pm</span>
                    <strong>Sat-Sun</strong>
                    <span>8am-11pm</span>
                </div>
            </div>
            <div class="col-sm">
                <article class="blog-post">
                    <h2>Title</h2>
                    <div class="effect">
                        <div id="blog">
                            <div class="image">
                                <img src="/public/img/Iam.png">
                            </div>
                            <h3>Venelin Petkov</h3>
                            <p>Donec placerat sodales aliquet. Vivamus neque nulla, fermentum id ultrices at, vulputate et risus. Aenean non lectus ipsum. Curabitur sagittis urna vel elit euismod faucibus. Aliquam sed magna id dolor cursus ullamcorper ut commodo nunc. Mauris suscipit, dolor et tristique scelerisque, leo neque congue libero, mollis accumsan nulla</p>
                        </div>
                    </div>
                </article>
            <div>
        </div>
    </div>
</div>
</div>
