<article>
    <h2>Top products</h2>
    <ul>
         {{#each res}}
        <li>
            <div class="left">
                <div class="image">
                    <img src={{image}}>
                </div>
            </div>
            <div class="admin">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
            </div>
        </li>
        {{/each}}
    </ul>
</article>